@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100..900&display=swap');

*,
*::before,
*::after {
	padding: 0;
	margin: 0;
	box-sizing: border-box;
}

img {
	width: 100%;
	display: block;
}

:root {
--color-soft-orange: hsl(35, 77%, 62%);
--color-soft-red: hsl(5, 85%, 63%);
--color-off-white: hsl(36, 100%, 99%);
--color-grayish-blue: hsl(233, 8%, 79%);
--color-dark-grayish-blue: hsl(236, 13%, 42%);
--color-very-dark-blue: hsl(240, 100%, 5%);
}

html {
	font-family: "Inter", sans-serif;
	font-size: 15px;
}

nav {
	display: none;
}

main {
	display: grid;
	grid-template-columns: 1fr;
	grid-template-rows: repeat(7, auto);
	container-type: inline-size;
	margin: 1rem;

	/* logo, hamburger */
	div:nth-child(2) {
		display: flex;
		flex-flow: row nowrap;
		justify-content: space-between;
		margin-bottom: 10cqi;

		img {
			width: 15cqi;
		}
	}

	/* The Bright... */
	& > div:nth-child(4) {
		font-size: 12cqi;
		font-weight: 800;
		margin: 5cqi 0;
	}

	/* We dive... */
	& > div:nth-child(5) {
		line-height: 1.5rem;

		a {
			text-decoration: none;
		}

		button {
			display: block;
			background-color: var(--color-soft-red);
			border: none;
			color: white;
			font-size: 3cqi;
			padding: 3cqi 4cqi;
			letter-spacing: .8cqi;
			margin: 5cqi 0 10cqi 0;
		}
	}

	/* New stories div */
	div:nth-child(6) {
		background-color: var(--color-very-dark-blue);
		color: white;
		padding: 5cqi;

		/* title in new div */
		& > .title-new {
			font-size: 10cqi;
			font-weight: 700;
			color: var(--color-soft-orange);
		}
	}
}

article {
	background-color: red;
}

.img-shapes-desktop {
	display: none;
}

.attribution {
	font-size: 11px;
	text-align: center;
}

.attribution a {
	color: hsl(228, 45%, 44%);
}c