@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100..900&display=swap');

*,
*::before,
*::after {
	padding: 0;
	margin: 0;
	box-sizing: border-box;
}

img {
	width: 100%;
	display: block;
}

:root {
--color-soft-orange: hsl(35, 77%, 62%);
--color-soft-red: hsl(5, 85%, 63%);
--color-off-white: hsl(36, 100%, 99%);
--color-grayish-blue: hsl(233, 8%, 79%);
--color-dark-grayish-blue: hsl(236, 13%, 42%);
--color-very-dark-blue: hsl(240, 100%, 5%);
}

html {
	font-family: "Inter", sans-serif;
	font-size: 15px;
}

nav {
	display: none;
}

main {
	display: grid;
	grid-template-columns: 1fr;
	grid-template-rows: repeat(7, auto);
	container-type: inline-size;
	margin: 1rem;

	/* logo, hamburger */
	div:nth-child(2) {
		display: flex;
		flex-flow: row nowrap;
		justify-content: space-between;
		margin-bottom: 10cqi;

		img {
			width: 15cqi;
		}
	}

	/* The Bright... */
	& > div:nth-child(4) {
		font-size: 12cqi;
		font-weight: 800;
		margin: 5cqi 0;
	}

	/* We dive... */
	& > div:nth-child(5) {
		line-height: 7cqi;
		font-size: 4.5cqi;

		a {
			text-decoration: none;
		}

		button {
			display: block;
			background-color: var(--color-soft-red);
			border: none;
			color: white;
			font-size: 3cqi;
			padding: 4cqi 5cqi;
			letter-spacing: .8cqi;
			margin: 5cqi 0 10cqi 0;
		}
	}

	/* New stories div */
	div:nth-child(6) {
		background-color: var(--color-very-dark-blue);
		color: white;
		padding: 6cqi 5cqi;
		margin-bottom: 18cqi;

		/* title in new div */
		.title-new {
			display: block;
			margin-bottom: 10cqi;
			font-size: 10cqi;
			font-weight: 700;
			color: var(--color-soft-orange);
		}
	}

	hr {
		border: 1px solid var(--color-dark-grayish-blue);
		margin: 10cqi 0 10cqi 0;
	}
	
	.img-shapes-desktop {
		display: none;
	}

	article {

		line-height: 5cqi;
	
		/* number for articles when exists */
		div {
			font-weight: 700;
			font-size: 9cqi;
		}
	
		/* article heading */
		h1 {
			margin-top: 4cqi;
			font-size: 5.5cqi;
			font-weight: 800;
		}
	
		/* article summary */
		p {
			font-size: 4.5cqi;
			line-height: 7cqi;
			margin-top: 1rem;
			color: var(--color-grayish-blue);
		}
	}

	.pic-article {
		display: flex;
		flex-flow: row nowrap;
		column-gap: 5cqi;
		margin: 5cqi 0;

		div {
			color: var(--color-grayish-blue);
		}

		article {
			margin-top: 2cqi;
		}

		img {
			margin: 0;
			width: 28cqi;
		}

		p {
			color: var(--color-very-dark-blue);
		}
	}
}

@media (width > 1000px) {
	
	body {
		display: flex;
		align-items: center;
		justify-content: center;
	}

	main {
		grid-template-columns: repeat(3, auto);
		grid-template-rows: repeat(4, auto);
		grid-template-areas:
			"header header header"
			"shapes shapes new"
			"title about new"
			"article1 article2 article3";
		width: 600px;
		
	
		.img-shapes-mobile {
			display: none;
		}

		.img-shapes-desktop {
			display: block;
		}

		div:nth-child(2) {
			grid-area: header;
		}
		figure:nth-child(3) {
			grid-area: shapes;
		}
		& > div:nth-child(4) {
			grid-area: title;
		}
		& > div:nth-child(5) {
			grid-area: about;
		}
		div:nth-child(6) {
			grid-area: new;
		}
		.pic-article:nth-child(7) {
			grid-area: article1;
		}
		.pic-article:nth-child(8) {
			grid-area: article2;
		}
		.pic-article:nth-child(9) {
			grid-area: article3;
		}

	}
}

.attribution {
	font-size: 11px;
	text-align: center;
}

.attribution a {
	color: hsl(228, 45%, 44%);
}